<div class="container mt-2 col-xs-1 align-center">
  <h1 class="text-center justify-content-between">List of Categories</h1>
</div>
<div class="container m-2">
  <% @lists.each do |list| %>
  <div class="container">
    <p class="m-2"><%= link_to list.name, list_path(list) %></p>
    <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <p>No image added</p>
    <% end %>
  </div>
  <% end %>
</div>
