<div class="container mt-2 col-xs-1 align-center">
  <h1 class="text-center justify-content-between">List of Categories</h1>
</div>

<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-product">
        <%= list.photo.attached? ? (cl_image_tag list.photo.key, crop: :fill) : (cl_image_tag ("https://f4.bcbits.com/img/0017780576_10.jpg"), crop: :fill) %>
        <div class="card-product-infos">
          <p class="m-2"><%= link_to list.name, list_path(list) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
