// Specific CSS for your home-page
body {
  background-image: url('52448.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#index-title {
  color: white;
  font-weight: bolder;
  text-shadow: black 1px 1px 1px;
  font-family: 'Permanent Marker', cursive !important;
}

h1 {
  text-shadow: 0.5px 0.5px 0.5px $gray;
}

.rotate {
  animation: rotation 4s infinite linear;
}

.fa-film {
  color: white;
  font-size: 28px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
